.roundBtn {
    -fx-background-radius: 100%;
    -fx-background-color: #cccccc;
    -fx-border: 0px;
    -fx-color: white;
}

.primaryBtn {
    -fx-background-color: #66ccff;
}

.menuBar {
    -fx-background-color: transparent;
}